@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap");

* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(233, 233, 233);
}
/* .navbar {
  background-color: gray;
  display: flex;
  padding-left: 35%;
  flex-direction: column;
  justify-content: space-around;
} */
.but0 {
  font-family: "Source Sans Pro", sans-serif;
  justify-content: center;
  border: 2px solid white;
  font-size: 1.2em;
  width: 17.1em;
}
.intro {
  background-image: url("/giphy.gif");
  background-size: cover;
  background-repeat: repeat;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.heading1 {
  font-size: 2.2rem;
  font-family: "Quicksand", sans-serif;
  color: yellow;
  margin-top: 10%;
  margin-left: 12%;
}
.title {
  color: rgb(216, 108, 21);
  text-align: center;
  font-family: "Readex Pro", sans-serif;
  font-size: 2.2rem;
}
hr.rounded {
  border-top: 3px solid #bbb;
  border-radius: 10px;
  width: 40%;
  margin-left: 30%;
}
.para {
  margin: 2%;
  color: rgb(2, 129, 13);
  padding-left: 20%;
  padding-right: 20%;
  font-size: 20px;
  font-family: "Mukta", sans-serif;
}
.para1 {
  font-size: 1.2rem;
  font-family: "Mukta", sans-serif;
  color: whitesmoke;
  margin-left: 12%;
}
.img {
  display: inline-block;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
  margin-left: 70%;
  margin-top: -13%;
}
.imgprop {
  width: 180px;
  height: 180px;
  border-radius: 70%;
}
.content {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}
.head {
  font-size: 18px;
  font-weight: bolder;
}
.points {
  color: #bb0000;
  font-weight: bold;
}
.heading {
  display: flex;
  justify-content: center;
  font-family: "Readex Pro", sans-serif;
  font-size: 40px;
  color: rgb(53, 85, 231);
}
span {
  color: rgb(53, 85, 231);
  font-weight: bold;
  font-size: 16px;
}
button {
  background-color: #fdfdfd; /* Green */
  font-family: "Mukta", sans-serif;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  margin-top: 2%;
  text-decoration: none;
  display: flex;
  font-size: 1.35em;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: transparent;
  color: rgb(255, 221, 221);
  border: 2px solid #eeff00;
}

button:hover {
  background-color: #cdface;
  color: rgb(165, 62, 179);
  text-decoration: none;
  border: none;
}
a:link {
  text-decoration: none;
}
.btn {
  display: flex;
  justify-content: center;
  margin: 2%;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-quora {
  background: black;
  color: rgb(255, 2, 2);
}
.fa-github {
  background: black;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.contact {
  display: flex;
  margin-top: 20%;
  font-family: "Varela Round", sans-serif;
  justify-content: center;
  color: #430099;
}
