@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap");

* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(233, 233, 233);
}

.but0 {
  font-family: "Source Sans Pro", sans-serif;
  justify-content: center;
  border: 2px solid white;
  font-size: 1.2em;
  width: 17.1em;
}
.intro {
  background-image: url("../img/giphy.gif");
  background-size: cover;
  background-repeat: repeat;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: -8%;
}
.heading {
  font-size: 2.2rem;
  font-family: "Quicksand", sans-serif;
  color: yellow;
  margin-top: 10%;
  margin-left: 0%;
}
.aboutTitle {
  color: rgb(21, 216, 157);
  text-align: center;
  font-family: "Readex Pro", sans-serif;
  font-size: 2.2rem;
}
hr.rounded {
  border-top: 3px solid rgb(121, 4, 5);
  border-radius: 10px;
  width: 50%;
  margin-left: 25%;
}
.para1 {
  font-size: 1.2rem;
  font-family: "Mukta", sans-serif;
  color: whitesmoke;
  margin-left: 0%;
}
.para {
  margin: 2%;
  color: rgb(56, 0, 160);
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  font-size: 20px;
  font-family: "Mukta", sans-serif;
}

.img {
  display: inline-block;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
  margin-left: 10%;
  margin-top: 11%;
}
.imgprop {
  width: 180px;
  height: 180px;
  border-radius: 70%;
}

.skills {
  display: flex;
  justify-content: space-evenly;
}
.skillimg {
  width: 100px;
  height: 100px;
}
.projects {
  display: flex;
  justify-content: center;
  font-family: "Readex Pro", sans-serif;
  font-size: 2.2rem;
  color: rgb(53, 85, 231);
}
.skill {
  color: #422741;
}
.miniprojects {
  display: flex;
  justify-content: center;
  font-family: "Readex Pro", sans-serif;
  color: rgb(53, 85, 231);
  font-size: 1.8rem;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}
button {
  background-color: #fdfdfd; /* Green */
  font-family: "Mukta", sans-serif;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  margin-top: 2%;
  text-decoration: none;
  display: flex;
  font-size: 1.35em;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: transparent;
  color: rgb(255, 221, 221);
  border: 2px solid #eeff00;
}

button:hover {
  background-color: #cdface;
  color: rgb(165, 62, 179);
  text-decoration: none;
  border: none;
}
a:link {
  text-decoration: none;
}
.btn1 {
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
  margin-top: 2%;
}
.contactme{
  font-size: 20px;
  margin-left: 150px;

}
.contactlink{
  text-decoration: none; 
  
}
.contactlink:hover{
  color: aliceblue;
}
.footer {
  display: flex;
  justify-content: center;
  /* //margin-top: 1%; */
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-quora {
  background: black;
  color: rgb(255, 2, 2);
}
.fa-github {
  background: black;
  color: white;
}
.fa-twitter {
  background: rgb(180, 180, 180);
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45%;
}
.contact {
  display: flex;
  margin-top: 5%;
  font-family: "Readex Pro", sans-serif;
  justify-content: center;
  color: #322742;
}

@media only screen and (max-width: 1024px) {
  .intro {
    height: 650px;
  }
  .img {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 2%;
  }
  .heading {
    font-size: 1.6rem;
    margin-left: 11%;
  }
  .para1 {
    margin-left: 11%;
    margin-right: 11%;
  }
  .para1,
  .para {
    font-size: 1rem;
  }
  .aboutTitle {
    font-size: 1.8rem;
  }
  .btn1 {
    justify-content: center;
    margin-left: 0%;
    margin-top: 35px;
  }
  .projects {
    font-size: 1.8rem;
  }
  .miniprojects {
    font-size: 1.5rem;
  }
  .skills {
    flex-direction: column;
    align-items: center;
  }
  .skillimg {
    margin: 10px;
  }
  .skillimg{
    width: 70px;
    height: 70px;
  }
  .contactme{
    margin-left: 20px;
    margin-right: 20px;
  }
  .contactme{
    font-size: 15px;
    margin-left: 45px;
  
  }
  .btnContact{
    margin-left: 35%;
  }
}
@media only screen and (min-width: 767) and (max-width: 1024px) {
  .heading,
  .para1 {
    margin-left: 15%;
    margin-right: 15%;
  }
 
  
}
